@using MES.Infrastructure
@using MES.Const
@model MES.Models.SearchModels
@{
    Layout = null;
}

<img src="1.jpg" hidden onerror="datePickerInit()" />
<div>
    <div class="row">
        @foreach (var item in Model)
        {
            @*<img src="1.jpg" hidden onerror="tt('@item.Id')" />*@
            if (item.SearchType == SearchType.InputText)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Input(item.Id, "text", item.Alias)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.InputArea)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Input(item.Id, "area", item.Alias)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.InputPW)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Input(item.Id, "password", item.Alias)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.Select)
            {
                <div class="col-md-2">
                    <div class="form-group">
                        <select id="@item.Id" class="form-control">
                            <option value="">请选择 @item.Alias</option>
                            @foreach (var i in item.DataDictionary.Keys)
                            {
                                <option value="@i">@item.DataDictionary[i]</option>
                            }
                        </select>
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.DatePicker)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DatePicker(item.Id)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.Button)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <div onclick="handleClick('@item.ParamUrl')">
                            @Html.Button(item.Id)
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    const datePickerInit = () => {
        $("input[name='datePicker']").datepicker();
    }
    var arr = [];
    const handleClick = (url, pageIndex) => {
        var domList = {searchConditions: []}
        for (var i = 0, l = arr.length; i < l; i++) {
            for (var j in arr[i]) {
                domList.searchConditions.push({
                    ParamName: arr[i][j],
                    Value: document.getElementById(arr[i][j]).value
                })
            }
        }
        console.log(domList)
        getData({
            url: url + '/' + pageIndex,
            data: domList,
            method: methods.POST
        }).then(res => {
            // deal res
            console.log(res)
            var table = $("#tbody");
            table.empty();
            for (var i = 0, l = res.data.List.length; i < l; i++) {
                let tr = document.createElement("tr");
                for (var j in res.data.List[i]) {
                    var td = document.createElement("td");
                    td.innerHTML = res.data.List[i][j]
                    tr.appendChild(td)
                }
                table.append(tr)
            }
        })
    }
</script>
@foreach (var i in Model)
{
    <script>
    arr.push({'@i.SearchType': '@i.Id'})
    </script>
}
