@using MES.Infrastructure
@using MES.Const
@using MES.Models
@model InputItemsModel
@{
    Layout = null;
}

<div id="_form">
    <img src="1.jpg" hidden onerror="datePickerInit()" />
    <div>
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.InputType == SQInputType.InputText)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Input(item.Id, "text", item.Alias)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.InputArea)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Input(item.Id, "area", item.Alias)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.InputPW)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Input(item.Id, "password", item.Alias)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.Select)
                {
                    <div class="col-md-2">
                        <div class="form-group">
                            <select id="@item.Id" class="form-control">
                                <option value="">请选择 @item.Alias</option>
                                @foreach (var i in item.DataDictionary.Keys)
                                {
                                    <option value="@i">@item.DataDictionary[i]</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.DatePicker)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.DatePicker(item.Id)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.Button)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <div onclick="handleClick('@item.ParamUrl')">
                                @Html.Button(item.Id, item.Alias)
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <button class="btn btn-primary" onclick="showAdd()">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 时间选择器初始化
    const datePickerInit = () => {
        $("input[name='datePicker']").datepicker();
    }
    var searchInputItems = [];
    // 查询框事件
    const handleClick = (url, index) => {
        index = index || 1
        var searchEntity = {
            entityTypeName:'@ViewBag.entityTypeName'
        }
        for (var i = 0, l = searchInputItems.length; i < l; i++) {
            searchEntity[searchInputItems[i].id] = document.getElementById(searchInputItems[i].id).value;
        }
        var entityInfoDic = {
            entityInfoDic: searchEntity
        }
        console.log(searchEntity)
        $.ajax({
            type: "POST",
            url: url + '/' + index,
            data: entityInfoDic,
            dataType: "JSON",
            success: function (data) {
                var res = {
                    data: data
                }
                updatePage(res);
                updateTable(res);
            }
        })
    }
</script>
@foreach (var i in Model)
{
    <script>
    searchInputItems.push({
        type: '@i.InputType',
        id : '@i.Id'})
    </script>
}
