@using MES.Infrastructure
@using MES.Const
@using MES.Models
@model InputItemsModel
@{
    Layout = null;
}

<div id="_form">
    <img src="1.jpg" hidden onerror="datePickerInit()" />
    <div>
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.InputType == SQInputType.InputText)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Input(item.Id, "text", item.Alias)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.InputArea)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Input(item.Id, "area", item.Alias)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.InputPW)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Input(item.Id, "password", item.Alias)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.Select)
                {
                    <div class="col-md-2">
                        <div class="form-group">
                            <select id="@item.Id" class="form-control">
                                <option value="">请选择 @item.Alias</option>
                                @foreach (var i in item.DataDictionary.Keys)
                                {
                                    <option value="@i">@item.DataDictionary[i]</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.DatePicker)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.DatePicker(item.Id)
                        </div>
                    </div>
                }
                else if (item.InputType == SQInputType.Button)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <div onclick="handleClick('@item.ParamUrl')">
                                @Html.Button(item.Id)
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <button class="btn btn-primary" onclick="handleShowAdd()">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 时间选择器初始化
    const datePickerInit = () => {
        $("input[name='datePicker']").datepicker();
    }
    var arr = [];
    // 查询框事件
    const handleClick = (url, pageIndex) => {
        var domList = {searchConditions: []}
        for (var i = 0, l = arr.length; i < l; i++) {
            for (var j in arr[i]) {
                domList.searchConditions.push({
                    ParamName: arr[i][j],
                    Value: document.getElementById(arr[i][j]).value
                })
            }
        }
        getData({
            url: url + '/' + pageIndex,
            data: domList,
            method: methods.POST
        }).then(res => {
            // deal res
            updatePage(res)
            updateTable(res)
        })
    }
</script>
@foreach (var i in Model)
{
    <script>
    arr.push({'@i.InputType': '@i.Id'})
    </script>
}
