@using MES.Infrastructure
@using MES.Const
@model MES.Models.SearchModels
@{
    Layout = null;
}

<img src="1.jpg" hidden onerror="datePickerInit()" />
<div>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.SearchType == SearchType.InputText)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Input(item.Id, "text", item.Alias)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.InputArea)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Input(item.Id, "area", item.Alias)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.InputPW)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Input(item.Id, "password", item.Alias)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.Select)
            {
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="buttonText">@item.Alias</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="height: 120px; overflow: auto;">
                                @foreach (var i in item.DataDictionary.Keys)
                                {
                                    <li><a href="#">@item.DataDictionary[i]</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.DatePicker)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DatePicker(item.Id)
                    </div>
                </div>
            }
            else if (item.SearchType == SearchType.Button)
            {
                <div class="col-md-3">
                    <div class="form-group" onclick="handleClick('@item.ParamUrl')">
                        @Html.Button(item.Id)
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    var datePickerInit = function () {
        $("input[name='datePicker']").datepicker();
    }
    const tt = (arr) => {
        console.log(arr);
    }
    const handleClick = (url) => {
        console.log('@Model.ToJSON1()')
        getData({
            url: url + '/4',
            data: {},
            method: methods.GET
        }).then(res => {
            // deal res
            console.log(res.data.List);
            var table = $("#tbody");
            // table.empty();
            for (var i = 0, l = res.data.List.length; i < l; i++) {
                let tr = document.createElement("tr");
                for (var j in res.data.List[i]) {
                    var td = document.createElement("td");
                    td.innerHTML = res.data.List[i][j]
                    tr.appendChild(td)
                }
                table.append(tr)
            }
        })
    }
</script>
