@using MES.Models
@using MES.Const
@using MES.Infrastructure
@model InputItemsModel
@{ Layout = null; }

<div class="layui-form layui-form-pane" id="iaddpage" hidden>
    @foreach (var formItem in Model)
    {
    <div class="layui-inline">
        @if (formItem.InputType == SQInputType.InputText)
        {
        <div class="layui-form-item">
            <label class="layui-form-label">@formItem.Alias</label>
            <div class="layui-input-inline">
                @Html.IInput("text", formItem.Alias, formItem.Id, "required")
            </div>
        </div>
        }
        else if (formItem.InputType == SQInputType.InputPW)
        {
        <div class="layui-form-item">
            <label class="layui-form-label">@formItem.Alias</label>
            <div class="layui-input-inline">
                @Html.IInput("password", formItem.Alias, formItem.Id, "required")
            </div>
        </div>
        }
        else if (formItem.InputType == SQInputType.Select)
        {
        <div class="layui-form-item">
            <label class="layui-form-label">@formItem.Alias</label>
            <div class="layui-input-inline">
                <select id="@formItem.Id" name="@formItem.Id" lay-search>
                    <option value="">请选择</option>
                    @foreach (var option in formItem.DataDictionary.Keys)
                    {
                        <option value="@option">@formItem.DataDictionary[option]</option>
                    }
                </select>
                <iframe hidden onload="layui.form.render();"></iframe>
            </div>
        </div>
        }
        else if (formItem.InputType == SQInputType.DatePicker)
        {
        <div class="layui-form-item">
            <label class="layui-form-label">@formItem.Alias</label>
            <div class="layui-input-inline">
                @Html.IDatePicker(formItem.Id)
            </div>
        </div>
        <iframe hidden onload="layui.use('laydate', function(){ layui.laydate.render({ elem: '#' + '@formItem.Id' }); });"></iframe>
        }
        else if (formItem.InputType == SQInputType.Button)
        {
        <div class="layui-form-item">
            <div class="layui-input-inline">
                @Html.IButton("", "提交", "sm", formItem.Id, "handleSubmit()", "click")
            </div>
        </div>
        }
        <iframe hidden onload="addPageItems.push('@formItem.Id');"></iframe>
    </div>
    }
    <div class="layui-inline">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                @Html.IButton("", "取消新增", "sm", "cancelAdd", "hiddenAddPage()", "click")
            </div>
        </div>
    </div>
</div>

<script>
    const handleSubmit = () => {
        const entityInfoDic = {
            entityTypeName: '@ViewBag.entityTypeName'
        };
        const formData = getFormData(addPageItems);
        Object.assign(entityInfoDic, formData);
        getData({
            url: '@Url.Action("Insert")',
            method: 'POST',
            data: { entityInfoDic: entityInfoDic }
        }, res => {
            if (res === 1) {
                layer.open({
                    content: '添加成功！'
                });
            }
        })
    }
</script>
