@model MES.Models.SchemaModel
@{
    Layout = null;
}

<div id="_table">
    <div class="table-responsive" style="margin: 12px 0 0 0; ">
        <table class="table text-nowrap" id="table">
            <thead>
                <tr>
                    @foreach (var item in Model)
                    {
                        <th>@item.Alias</th>
                    }
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
        <img src="1.jpg" hidden onerror="tableInit('@Model.RequestUrl')" />
    </div>
    <nav aria-label="Page navigation" style="float: right">
        <ul class="pagination" id="page"></ul>
    </nav>
</div>

<script>
    // 显示添加页面
    const showAdd = () => {
        $("#_table").attr("hidden", "")
        $("#_form").attr("hidden", "")
        $("#_add").removeAttr("hidden")
    }
    // 获取数据
    const getData = (options) => {
        return axios(options);
    }
    // 总页码
    var page = 1;
    // 当前页码
    var pageIndex = 1;
    // 右一页
    const handlePageR = () => {
        if (pageIndex !== page) {
            pageIndex++;
        }
        handleClick('@Model.RequestUrl', pageIndex);
    }
    // 左一页
    const handlePageL = () => {
        if (pageIndex !== 1) {
            pageIndex--;
        }
        handleClick('@Model.RequestUrl', pageIndex);
    }
    // 点击任意页
    const handlePage = (index) => {
        pageIndex = index
        handleClick('@Model.RequestUrl', index);
    }
    // 表格初始化
    const tableInit = (url) => {
        
          
        var tableEntity = {
            entityTypeName: 'SQ_DB_Framework.Entities.ToolEquipment',
        }
        var entityInfoDic = { entityInfoDic: tableEntity }
        console.log(entityInfoDic)
        // get data
        $.ajax({
            type: "POST",
            url: url + '/1/10',
            data: entityInfoDic,
            dataType: "JSON",
            success: function (data) {
                var res = {
                    data: data
                }
                updatePage(res);
                updateTable(res);
            }
        })
    }
    // 更新分页
    const updatePage = (res) => {
        page = res.data.TotalPages;
        pageIndex = res.data.PageIndex + 1;
        var pageContent='';
        var prev = '<li><a href="javascript:;" onclick="handlePageL()" class="prev" aria-label="Previous"><span aria-hidden="true">«</span></a></li>';
        var next = '<li><a href="javascript:;" onclick="handlePageR()" class="next" aria-label="Next"><span aria-hidden="true">»</span></a></li>'
        for (var i = 1; i <= page; i++){
            if (i !== pageIndex) {
                pageContent += '<li><a onclick="handlePage('+i+')">'+i+'</a></li>';
            } else {
                pageContent += '<li  class="active"><a onclick="handlePage('+i+')">'+i+'</a></li>';
            }
        }
        $("#page").empty();
        $("#page").append(prev+pageContent+next);
    }
    // 更新表格
    const updateTable = (res) => {
        var table = $("#tbody");
        table.empty();
        for (var i = 0, l = res.data.List.length; i < l; i++) {
            let tr = document.createElement("tr");
            for (var j in res.data.List[i]) {
                var td = document.createElement("td");
                td.innerHTML = res.data.List[i][j]
                tr.appendChild(td)
            }
            table.append(tr)
        }
    }
</script>
